h1, p, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

img{
    border-radius: 15px;
}

.title{
    background-color: rgb(252, 221, 182);
    border-radius: 5px;
    width: 50%;
    box-shadow: 3px 3px 3px rgb(244, 172, 84);
}